@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500&family=Oswald:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    --color1: #C19458;
    --color2: #fff;
    --color3: #1A0F0A;
    --color4: #af8247;
    --color5: #F5F2EA;

    color: #fff;
    font-family: "Lato", sans-serif;
    font-size: 1.1rem;
    letter-spacing: 0px;
}

strong {
    font-size: inherit;
    color: inherit;
    letter-spacing: inherit;
    font-weight: 600;
}

p {
    line-height: 1.3;
}


/* -------------------------------------------------- NAVBAR -------------------------------------------------- */

header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
    left: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 120px;
    background: transparent;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.navbar.scrolled {
    backdrop-filter: blur(10px);
    background-color: hsla(0, 0%, 12%, 0.85);
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-center {
    display: flex;
    gap: 30px;
}

.navbar-center a {
    color: var(--navcolor);
}

.navbar-center a:hover {
    color: var(--color1);
}

/* ------- navbar responsive ----------- */
.menu {
    display: none;
}

.nav-toggle {
    position: absolute;
    cursor: pointer;
    display: none;
    top: 51%;
    right: 120px;
    transform: translateY(-50%);
}

.close-menu {
    position: absolute;
    top: 47px;
    cursor: pointer;
}

#check {
    display: none;
}

.menu-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 30px;
}

.menu-links a {
    color: var(--navcolor);
    font-size: 1.2rem;
}

.menu-links a:hover {
    color: var(--color3);
}

#check:checked~.menu {
    right: 0;
}

body.no-scroll {
    overflow: hidden;
}

/* -------------------------------------------- HOME --------------------------------------- */

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('images/forever-barber-home.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    padding: 0 120px;
}

.hero .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
}

/* CONTENT */
.home-reviews {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 40px 0 25px;
}

.home-reviews .user-container {
    display: flex;
    align-items: center;
}

.home-reviews .user-container .user {
    width: 52px;
    height: 52px;
    margin-left: -25px;
}

.home-reviews .user-container .user img {
    width: 100%;
    height: 100%;
    border: 3.5px solid #e1dfdf;
    border-radius: 50%;
}

.home-reviews .review-text {
    color: var(--color1);
    margin-bottom: 3px;
    font-style: italic;
}

.review {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.home-reviews .star {
    display: flex;
    align-items: center;
    gap: 1px;
    margin-top: 2px;
}

.home-reviews .review .star svg {
    fill: var(--color1);
}

.home-reviews .review figcaption {
    font-size: 0.95rem;
    line-height: 22px;
}

.home-reviews .review .star strong {
    font-size: 0.95rem;
    margin-right: 5px;
}

.hero-content {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* TITLE */
.hero-title {
    font-family: "Oswald", sans-serif;
    font-size: 3.2rem;
    line-height: 1.3;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: capitalize;
    max-width: 800px;
}

/* TEXT */
.hero-text {
    font-size: 1.15rem;
    line-height: 1.6;
    color: var(--color5);
    margin-bottom: 30px;
    max-width: 900px;
}

/* BUTTON */
.btn-contact {
    display: inline-block;
    padding: 14px 32px;
    background: #C19458;
    color: #1A0F0A;
    font-family: "Lato", sans-serif;
    font-size: 17px;
    font-weight: 700;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.3s ease;
}

.cta-btn:hover {
    background: #d8a766;
}


/* ------------------------------------------- PROFILE ---------------------------------- */
#profile {
    height: 100%;
    padding: 120px;
    background-color: var(--color5);
}

#container-profile-2 {
    margin-top: 120px;
}

#profile .container-profile,
.break-maps .container-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

#profile .container-profile .container-img,
.break-maps .container-profile .container-img {
    width: 50%;
    height: 500px;
}

#profile .container-profile .container-img img,
.break-maps .container-profile .container-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

#profile .container-profile .container-text,
.break-maps .container-profile .container-text {
    width: 50%;
}

#profile .container-profile .container-text span,
.break-maps .container-profile .container-text span {
    color: var(--color4);
    margin-bottom: 55px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.5px;
}

#profile .container-profile .container-text p,
.break-maps .container-profile .container-text p {
    margin: 20px 0 25px;
    color: #282828;
    width: 90%;
}

h2 {
    font-family: "Oswald", sans-serif;
    font-size: 2.6rem;
    line-height: 1.2;
    font-weight: 600;
    margin-top: 15px;
    color: #171717;
    text-transform: capitalize;
}

/* -------------------------------------------  BREAK -------------------------------------- */
.break {
    position: relative;
    background: #201A16;
    padding: 60px 120px;
    overflow: hidden;
}

.stats-overlay {
    position: absolute;
    inset: 0;
    background: radial-gradient(circle at top,
            rgba(255, 255, 255, 0.05),
            transparent 60%);
}

.stats-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 80px;
    z-index: 2;
}

.stat-box {
    flex: 1;
    text-align: center;
}

.stat-box h2 {
    color: var(--color1);
    font-size: 2.5rem;
}

h3 {
    font-family: "Oswald", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    color: #FFFFFF;
    margin: 5px 0 10px;
}

.stat-box p {
    color: var(--color5);
    font-size: 1rem;
}

/* ------------------------------------------- SERVIZI ---------------------------------- */
#services {
    padding: 120px 120px 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--color5);
}

.container-pre-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
}

.container-pre-content h2 {
    text-align: center;
    margin-top: 0;
}

.container-pre-content h1 {
    font-family: "Oswald", sans-serif;
    font-size: 2.6rem;
    line-height: 1.2;
    font-weight: 600;
    margin-top: 15px;
    color: #171717;
    text-transform: capitalize;
}

.container-pre-content p {
    max-width: 75%;
    text-align: center;
    color: #282828;
    margin-top: 10px;
}

.pre-title {
    color: var(--color4);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.services-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(33.3% - 50px), 1fr));
    gap: 25px;
    row-gap: 55px;
    margin: 35px 0;
    width: 100%;
}

.services-box {
    background-color: #f9f8f8;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .07);
    width: 100%;
    height: 100%;
}

.services-box img {
    margin: 10px 0 25px;
    width: 85px;
    height: 130px;
    object-fit: cover;
}

.services-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.services-box li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.15);
}

.services-box li span {
    font-size: 1rem;
    color: #282828;
    text-align: left;
}

.services-box li strong {
    font-family: "Oswald", sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--color3);
}

.services-box li:last-child {
    border-bottom: none;
}

/* -------------------------------------------- GALLERY ------------------------------------ */

#gallery {
    padding: 100px 120px;
    background-color: var(--color5);
}

.container-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(33.3% - 50px), 1fr));
    gap: 25px;
    margin: 35px 0;
}

.container-gallery .gallery-box {
    border-radius: 15px;
    text-align: center;
}

.container-gallery .gallery-box img {
    border-radius: 15px;
    object-fit: cover;
    width: 100%;
    height: 300px;
}

/* -------------------------------------------- BREAK MAPS ------------------------------------ */
.break-maps .container-profile {
    gap: 100px;
}

.break-maps .container-profile .container-img {
    height: 480px;
}

.break-maps .container-profile .container-text h2 {
    color: var(--color2);
}

.break-maps .container-profile .container-text span {
    color: var(--color1);
}

.break-maps .container-profile .container-text p {
    color: var(--color5);
}

/* -------------------------------------------- RECENSIONI ------------------------------------ */
#recensioni {
    padding: 120px 120px 80px;
    background-color: var(--color5);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container-reviews {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(33.3% - 50px), 1fr));
    gap: 25px;
    row-gap: 35px;
    margin: 35px 0;
}

.container-reviews .reviews-box {
    border-radius: 15px;
    background-color: #f9f8f8;
    padding: 20px;
    margin-top: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .07);

}

.container-reviews .reviews-box .container-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -60px;
}

.container-reviews .reviews-box img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.container-reviews .reviews-box .reviews-star {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.container-reviews .reviews-box .reviews-star svg {
    fill: var(--color4);
    width: 20px !important;
    height: 20px !important;
}

.container-reviews .reviews-box p {
    color: #282828;
    font-size: 1rem;
    margin: 20px 0;
    line-height: 1.3;

}

.container-reviews .reviews-box .author {
    text-align: center;
    color: #171717;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.1rem;
    font-family: "Oswald", sans-serif;
    letter-spacing: 0.5px;
}

/* -------------------------------------------- BLOG ------------------------------------ */
#blog {
    padding: 100px 120px;
    background-color: var(--color5);
}

.blog-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(33.3% - 50px), 1fr));
    gap: 25px;
    row-gap: 55px;
    margin: 35px 0;
}

.blog-box {
    background-color: #f9f8f8;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .07);
}

.blog-box .container-img {
    width: 100%;
    height: 150px;
}

.blog-box .container-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.blog-content .container-text {
    padding: 20px;
}

.blog-content .container-text .data,
#article-blog .data {
    display: flex;
    align-items: center;
    gap: 4px;
}

.blog-content .container-text .data svg,
#article-blog .data svg {
    fill: #282828;
}

.blog-content .container-text .data span,
#article-blog .data span {
    color: #282828;
    font-size: 0.9rem;
}

.blog-content .container-text h3 {
    color: #171717;
    font-size: 1.4rem;
}

.blog-content .container-text p {
    color: #282828;
    font-size: 1rem;
    margin: 10px 0 15px;
}

.blog-content .container-text .more {
    display: flex;
    align-items: center;
    gap: 4px;
}

.blog-content .container-text .more a {
    color: var(--color4);
    font-weight: bold;
}

.blog-content .container-text .more svg {
    fill: var(--color4);
    margin-top: 4px;
}

/* --------------------------------------- FOOTER ------------------------------------- */
.site-footer {
    backdrop-filter: blur(10px);
    background-color: hsla(0, 0%, 12%, 0.85);
    padding: 80px 120px 40px;
}

.footer-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1.5fr;
    gap: 60px;
}

.footer-logo img {
    margin-top: -10px;
    margin-bottom: 20px;
}

.footer-col p {
    font-size: 0.95rem;
    line-height: 1.6;
    margin-bottom: 15px;
}

.footer-col p a {
    color: var(--color1);
    font-size: 0.95rem;
    margin-left: 5px;
}

.footer-col a:hover {
    text-decoration: underline;
}

/* TITLES */
h4 {
    font-family: "Oswald", sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 15px;
    color: var(--color1);
}

/* LIST */
.footer-col ul {
    list-style: none;
    padding: 0;
    margin: 0 0 25px;
}

.footer-col li {
    margin-bottom: 10px;
}

.footer-col li a {
    font-size: 0.95rem;
}

/* BOTTOM */
.footer-bottom {
    margin-top: 30px;
    padding-top: 25px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
}

.footer-bottom p,
.footer-bottom a {
    text-align: center;
    font-size: 0.95rem;
}

/* -------------------------------------------- SERVIZI ESTERNI ------------------------------------ */
#servizi-ext {
    padding: 120px;
    background-color: var(--color5);
}

.servizi-ext-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(33.3% - 50px), 1fr));
    gap: 25px;
    row-gap: 55px;
    margin: 35px 0;
}

.servizi-ext-box {
    background-color: #f9f8f8;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .07);
    width: 100%;
    height: 100%;
}

.servizi-ext-box .container-img {
    width: 100%;
    height: 150px;
}

.servizi-ext-box .container-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.servizi-ext-content .container-text {
    padding: 20px;
}

.servizi-ext-content .container-text h3 {
    color: #171717;
    font-size: 1.4rem;
}

.servizi-ext-content .container-text p {
    color: #282828;
    font-size: 1rem;
    margin: 10px 0 15px;
}

.service-ext-btn-contact {
    display: inline-block;
    padding: 10px 14px;
    background: #C19458;
    color: #1A0F0A;
    font-family: "Lato", sans-serif;
    font-size: 17px;
    font-weight: 700;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.3s ease;
    margin-top: 5px;
}

/* -------------------------------------------- CONTATTI ------------------------------------ */
#contact {
    padding: 120px;
    background-color: var(--color5);
}

.contact-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(33.3% - 50px), 1fr));
    gap: 25px;
    row-gap: 55px;
    margin: 35px 0;
}

.contact-box {
    background-color: #f9f8f8;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .07);
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 20px;
}

.contact-box svg {
    fill: var(--color4);
}

.contact-content h3 {
    color: #171717;
    font-size: 1.4rem;
}

.contact-content p {
    color: #282828;
    font-size: 1rem;
    margin: 10px 0 15px;
}

#contact iframe {
    width: 100%;
    height: 350px;
    border-radius: 15px;
    margin-top: 20px;
    filter: grayscale(100%) contrast(1.2) brightness(0.8);
}

/* -------------------------------------------- ARTICOLI ------------------------------------ */
#article-blog {
    padding: 120px 250px;
    background-color: var(--color5);
}

#article-blog .container-pre-content {
    align-items: flex-start;
}

#article-blog .container-pre-content h2 {
    text-align: left;
}

#article-blog .container-pre-content img {
    width: 100%;
    border-radius: 15px;
    height: 350px;
    object-fit: cover;
    margin-top: 15px;
}

.article-content h2 {
    color: #171717;
    font-size: 1.4rem;
    margin-top: 15px;
}

.article-content p {
    color: #282828;
    font-size: 1.02rem;
    line-height: 1.5;
    margin: 15px 0;
}

.article-content a {
    color: #C19458;
    text-decoration: none;
}

.article-content a:hover {
    text-decoration: underline;
}